.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Text */
.font {
  font-family: "Lato", sans-serif;
}

.primary-white {

}

.primary-nav-text {
  font-size: 1.125em;
  color: #b0b0b0;
  font-weight: 600;
  transition: .3s ease-in-out;
}

.primary-black {
  font-size: 1.25em;
  line-height: 1.4;
  color: #444;
}

/* Misc */
.section-break {
  border-bottom: 4px solid #C3BEAF;
  margin-bottom: 40px;
}

.break1 {
  width: 10em;
}

/* Navbar */
.navbar-container {
  background-color: #324242;
  display: flex;
  height: 5.5em;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 10px;
  margin-left: 20px;
}

.logo {
  filter: brightness(5);
  height: 60px;
  width: 220px;
}

.nav-right {
  display: flex;
  /* width: 50%; */
  justify-content: space-between;
}

.link-container {
  display: flex;
  align-items: center;
}

.link-container > * {
  padding-left: 30px;
}

.link-container > *:hover {
  padding-left: 30px;
  color: white;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 10vw;
}

.search {
  height: 30px;
  width: 30px;
  fill: #b0b0b0;
  transition: .3s ease-in-out;
}

.search:hover {
  fill: rgb(28, 169, 155);
  cursor: pointer;
}

/* Navbar mobile */

.navbar-container-sm {
  background-color: #324242;
  display: flex;
  height: 3.5em;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.logo-container-sm {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 10px;
  margin-left: 20px;
}

.logo-sm {
  filter: brightness(5);
  height: 40px;
  width: auto;
}

.nav-right-sm {
  display: flex;
}

.sm {
  transform: scale(.8);
  fill: white;
}

body {
  overflow-x: hidden;
}


/* Home */
.fade-image {
  overflow: hidden;
}

.fade-image > img {
  min-height: 26em;
  height: auto;
  width: auto;
  max-width: 100%;
}

.block {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  height: 60%;
  width: 50%;
  top: 6.3vw;
  padding: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.892);
}

/* width too small */
.block-fill {
  background-color: #ECECEC;
}

.block-sm {
  position: relative;
  height: 100%;
  margin-top: -90px;
  /* top: -20em; */
  left: 0;
  transform: scale(1);
  z-index: 3;
  background: white;
  width: 90%;
  justify-content: center !important;
  overflow: hidden;
  padding: 20px;
  background: linear-gradient(180deg, rgba(250,250,251,0.6039823008849557)
   0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1)
   85%, rgba(255,255,255,0.9469026548672567) 100%);

  
}

.inner-block {
  width: 30em;
}

.block-header {
  color: #005F5F;
  letter-spacing: -0.0416666667em;
  font-weight: 200;
  font-size: 60px;

}

/* InfoBox */

.info-container {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: -4px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}


.box-header-font {
  font-size: 36px;
  font-weight: 100;
  line-height: 1px;

}

.box-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-children {
  width: 85%;
}

/* Info Slider Box */

.info-slider-container {
  width: 100%;
  text-align: left;
  background: white;
  margin-bottom: 40px;
  /* padding-top: 20px; */
}

.info-slider-linkbar {
  overflow-y: scroll;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #c2c2c2;
  justify-content: space-between;
}

h2 {
  margin: 0;
  padding: 0;
}

.info-link {
  font-weight: 700;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: #797878;
  font-size: 16px;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
}

.info-link:hover {
  color: #006E82;
}

.info-slider-content {
  padding: 20px 30px 0px;
}

.info-slider-body {
  color: #747474;
  width: 95%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.info-slider-button {
  display: flex;
  color: #005F5F;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 200px;
  
  cursor: pointer;
  position: relative;
  transition: .3s ease;
}

.info-slider-button > button {
  cursor: pointer;
  color: #005F5F;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.0516666667em;
  padding: 0px;
  border: none;
  background: none;
}

.info-slider-button:hover {
  transform: translateX(3%);
}

.info-slider-button:hover > span {
  transform: translateX(90%);
  opacity: 0;
}

.info-slider-button > span {
  font-weight: 500;
  font-size: 12px;
  padding-left: 8px;
  transition: .2s ease-in-out;
}

/* Parallex component */
.parallax-content {
  position: relative;
  top: 0px;
  height: 30em;
  margin-bottom: -30px;
  overflow:hidden;
  filter: sepia(100%) hue-rotate(155deg) contrast(.4) saturate(3) brightness(.5);
}

.parallax-image {
  height: 120vh;
  width: 100vw;
  position: relative;
}

/* Footer */

.footer-container {
  padding-top: 1.7em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-between;
  padding-left: 4em;
  background-color: #324242;
  position: relative;
  min-height: 200px;
}

.github {
  height: 30px;
  width: 30px;
  filter: invert(68%) sepia(61%) saturate(356%) hue-rotate(120deg) brightness(86%) contrast(88%);
  transition: .2s ease;
  cursor: pointer;
}

.github:hover {
  filter: invert(68%) sepia(61%) saturate(356%) hue-rotate(120deg) brightness(50%) contrast(88%);
}

.footer-left {
  padding-right: 3em;
}

.footer-logo {
  padding-bottom: 40px;
}

.footer-logo-item {
  height: 60px;
}

.footer-left-text {
  color: #ababab;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer-right {
  padding-right: 50vw;
}

.footer-links > a {
  padding-top: 10px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.footer-links > a:hover {
  text-decoration: underline;
}

.small-header {
  color:#4BBEAA;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.3em;
}

